/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: "Futura", sans-serif;
  src: url("/futura.ttf");
  src: url("/futura.ttf");
  font-weight: 400;
  font-style: normal;
}

body,
html {
  font-family: "Roboto", sans-serif;
  line-height: 25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura", sans-serif;
  line-height: 45px;
}
.container {
  max-width: 1280px !important;
}

.container2 {
  max-width: 1400px !important;
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 48rem;
  margin: 0 auto;
  padding: 16px;
  z-index: 100;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  overflow: hidden;
}

.menu-line {
  height: 3px;
  background-color: black;
  border-radius: 2px;
}

.menu-line {
  width: 24px !important;
}

.mobile-nav {
  background: black;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 2rem 2rem 6rem 2rem;
  z-index: 10;
}

.content-wrapper {
  margin-top: 3rem;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin: 50px 0;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.icon:nth-of-type(1) {
  margin-right: 1.5rem;
}

/* .player-wrapper {
  position: relative;
  padding-top: 56.25%; 
} */

.player-wrapper {
  /* position: absolute; */
  height: 56%;
  width: 100%;
  max-width: 960px !important;
  display: flex;
  flex-direction: column;
}

/* .react-player {
  position: absolute;
  top: 0;
  left: 0;
} */

.react-player iframe {
  /* width: 70% !important; */
  margin: 0 auto !important;
  max-width: 960px !important;
}

.special {
  transform: scale(1.1);
}

@media (max-width: 960px) {
  .player-wrapper {
    position: absolute;
    top: 20%;
    padding: 0 5%;
    height: 68vw;
  }
}

@media (max-width: 1220px) {
  .video-tab {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  /* .video-tab {
    width: 100% !important;
  }

  .player-wrapper {
    height: 100%;
    width: 100%;
  } */
  .player-wrapper {
    position: absolute;
    top: 20%;
    padding: 0 5%;
    height: 80vw;
  }
}

.Dropdown-control {
  background-color: black !important;
  border: 0.5px solid #ffffff !important;
  border-radius: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 20px !important;
}

.Dropdown-placeholder {
  color: #fc8b4e !important;
}

.Dropdown-option {
  background-color: black !important;
  color: white !important;
  padding: 15px !important;
}

.Dropdown-menu {
  max-height: fit-content !important;
}

.arrow-open img {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* .player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
} */

/* @media (max-width: 1030px) {
  .player-wrapper {
    top: -5%;
  }

  .player-test {
    padding: 0 20px;
  }
} */
