/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: "Futura", sans-serif;
  src: url("/futura.ttf");
  src: url("/futura.ttf");
  font-weight: 400;
  font-style: normal;
}

.getintouch {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2em;
}

section {
  /* padding: 16px;
  margin: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .125);
  height: 64px; */
  opacity: 0;
  transform: translate(0, 50%);
  visibility: hidden;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  will-change: opacity, visibility;
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  /* display: flex;  */
}

.cursor {
  width: 10px;
  height: 10px;
  background-color: #fefefe;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  /* mix-blend-mode: difference; */
  mix-blend-mode: hard-light;
}

@media (max-width: 768px) {
  .cursor {
    opacity: 0 !important;
  }
}

.doit {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.svgfun svg {
  width: 134px;
  height: 134px;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(2);
  background-color: black;
}

.cursor--bg-hovered {
  background-color: black;
  border: 2px solid black;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: black;
}

body,
html {
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  background: black;
  cursor: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura", sans-serif;
  line-height: 45px;
}
.container {
  max-width: 1280px !important;
}

.container2 {
  /* max-width: 1800px !important; */
  margin-right: 7.5%;
  margin-left: 7.5%;
}

/* .container3 {
  width: 80%;
  z-index: 1000;
  margin: 0 10% 0% 10%;
} */

.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 48rem;
  margin: 0 auto;
  padding: 16px;
  z-index: 100;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  overflow: hidden;
}

.menu-line {
  height: 2px;
  background-color: black;
  border-radius: 2px;
}

.menu-line {
  width: 24px !important;
}

/* .nav .testnav{
  display:inline-block; 
  padding:0 7px; 
  position:relative;
  width: 220px;
}

.nav .testnav:not(:first-child)::after{
  content:""; 
  border:1px solid #e2e2e2;
  border-width: 1px 1px 0 0;
  position:absolute; 
  right:-3px; 
  top:0; 
  height:100%;
}  */

.mobile-nav {
  background: black;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 2rem 2rem 6rem 2rem;
  z-index: 10;
}

.content-wrapper {
  margin-top: 3rem;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin: 50px 0;
  transition: all 0.3s ease-in-out;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.icon:nth-of-type(1) {
  margin-right: 1.5rem;
}

/* .player-wrapper {
  position: relative;
  padding-top: 56.25%; 
} */

.player-wrapper {
  /* RECENTLY REMOVE */
  /* width: 900px;
  height: 500px; */
  /* RECENTLY REMOVE */
  max-width: 1500px;
  width: 75vw;
  height: 70vh;
  /* position: absolute; */
  /* height: 56%;
  width: 100%;
  max-width: 960px !important;
  display: flex;
  flex-direction: column; */
}

/* .react-player {
  position: absolute;
  top: 0;
  left: 0;
} */

@media (max-width: 1920px) {
  .video-tab {
    width: 33% !important;
  }
}

@media (max-width: 1400px) {
  .react-player {
    margin-bottom: -100px;
  }
}

@media (max-width: 1100px) {
  .react-player {
    margin-bottom: -150px;
  }
}

@media (max-width: 768px) {
  .react-player {
    margin-bottom: -70px;
  }
}

.react-player iframe {
  /* width: 70% !important; */
  margin: 0 auto !important;
  /* max-width: 960px !important; */
}

@media (max-width: 960px) {
  .player-wrapper {
    padding: 0 20px;
    /* position: absolute;
    top: 20%;
    padding: 0 5%;
    height: 68vw; */
  }
}

@media (max-width: 1220px) {
  .video-tab {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .video-tab {
    width: 100% !important;
  }
}

@media (max-width: 650px) {
  /* .video-tab {
    width: 100% !important;
  }

  .player-wrapper {
    height: 100%;
    width: 100%;
  } */
  .player-wrapper {
    top: 10%;
    width: 100%;
    position: absolute;
    /* z-index: 4000; */
    /* position: absolute;
    top: 20%; */
    /* padding: 0 5%;
    height: 80vw; */
  }

  .react-player {
    position: relative;
    top: -20%;
  }

  .text-fun {
    position: relative;
    top: -42%;
  }
}

.Dropdown-control {
  background-color: black !important;
  border: 0.5px solid #ffffff !important;
  border-radius: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 20px !important;
}

.Dropdown-placeholder {
  color: #fc8b4e !important;
}

.Dropdown-option {
  background-color: black !important;
  color: white !important;
  padding: 15px !important;
}

.Dropdown-menu {
  max-height: fit-content !important;
}

.arrow-open img {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* iframe {
  width: 960px !important;
  height: 533px !important;
} */

/* .react-player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */
